IMAGE=docker.io/injust/meowdo
TAG=latest

APP_PORT=8080
APP_BIND=0.0.0.0
TRUSTED_PROXIES=private_ranges
DEFAULT_URI=https://meowdo.example.com

APP_SECRET=

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=

MAILER_DSN=smtp://user:password@smtp.example.com:587
MAILER_FROM=noreply@meowdo.example.com
